In [1]:
import chardet
import pandas as pd
import plotly_express as px

df_eaq = pd.read_csv("Data/Emissies_naar_lucht__Nederland_totaal_04102024_195121.csv",encoding='UTF-8-SIG',delimiter=';')
df_eaq.head()

  Emissiebronnen Emissies naar lucht Perioden  Emissies naar lucht (mln kg)
0        Vervoer   Kooldioxide (CO2)     1990                       30000.0
1        Vervoer   Kooldioxide (CO2)     1995                       31800.0
2        Vervoer   Kooldioxide (CO2)     2000                       35600.0
3        Vervoer   Kooldioxide (CO2)     2001                       36100.0
4        Vervoer   Kooldioxide (CO2)     2002                       36600.0